extends layout

block content

  div(ng-controller="AppCtrl")
    h1 Sonnet 1

    .sonnet
      p(ng-repeat="line in poem", line-number="{{$index + 1}}", annotate) {{line}}

    div.panel(ng-show="showPanel")
      h1 {{annotation.quote}}
      input(ng-model="annotation.text", ng-keydown="submitAnnotation($event)")