extends layout

block content


	.row(ng-controller="AppCtrl")

		.col-md-6

			h1 Sonnet 1

			.sonnet(annotate)
				p(ng-repeat="line in poem", line-number="{{$index + 1}}", ng-bind-html="line", annotations)


		.col-md-6
			div.panel(ng-show="showPanel")
				h1 {{annotation.quote}}
				input(ng-model="annotation.text", ng-keydown="submitAnnotation($event)")

			//- div.annotations
			//- 	{{annotations | }}
