doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/bower_components/annotator/annotator.min.css")
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400|Merriweather:700,400,300italic,300' rel='stylesheet' type='text/css'>
    script(src="/bower_components/underscore/underscore-min.js")
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(src="/bower_components/annotator/annotator.min.js")
    script(src="/bower_components/annotator/annotator.store.min.js")
    script(src="/bower_components/angular/angular.min.js")
    script(src="/bower_components/angular-bootstrap/ui-bootstrap.min.js")
    script(src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js")
    script(src="/bower_components/angular-sanitize/angular-sanitize.min.js")
    script(src="/bower_components/pusher/dist/pusher.min.js")
    script(src="/bower_components/pusher-angular/lib/pusher-angular.js")
    script(src="/javascripts/app.js")
    script(src="/javascripts/ng-controllers/SonnetIndexCtrl.js")
    script(src="/javascripts/ng-controllers/SonnetShowCtrl.js")
    script(src="/javascripts/ng-directives/annotations.js")
    script(src="/javascripts/ng-directives/annotate.js")
    script(src="/javascripts/ng-filters/byLine.js")
    script(src="/javascripts/ng-services/AnnotationCategories.js")
  body(ng-app="Sonnets")
    .container
        block content